* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #654321;
  }
  
  .bar {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }
  
  .logo img {
    width: 250px;
    height: 75px;
    position: absolute;
    top: 50px;
    left: 150px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 50px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 23px;
  }
  
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }
  
  .content {
    width: 45%;
  }
  
  .content h1 {
    font-size: 70px;
    color: black;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #7f6244;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b0b0b0;
  }
  
  .image img {
    width: 125%;
    height: 10%;
    padding-top: 50px;
  }